
  <div class="spinkit-circle-spinner">
    <div class="spinkit-circle-circle1 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle2 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle3 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle4 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle5 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle6 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle7 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle8 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle9 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle10 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle11 spinkit-circle-circle"></div>
    <div class="spinkit-circle-circle12 spinkit-circle-circle"></div>
  </div>
  