
  <div class="spinkit-fading-circle-spinner">
    <div class="spinkit-fading-circle-circle1 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle2 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle3 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle4 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle5 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle6 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle7 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle8 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle9 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle10 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle11 spinkit-fading-circle-circle"></div>
    <div class="spinkit-fading-circle-circle12 spinkit-fading-circle-circle"></div>
  </div>
  