

  <div class="spinkit-cube-grid-spinner">
    <div class="spinkit-cube-grid-cube"></div>
    <div class="spinkit-cube-grid-cube"></div>
    <div class="spinkit-cube-grid-cube"></div>
    <div class="spinkit-cube-grid-cube"></div>
    <div class="spinkit-cube-grid-cube"></div>
    <div class="spinkit-cube-grid-cube"></div>
    <div class="spinkit-cube-grid-cube"></div>
    <div class="spinkit-cube-grid-cube"></div>
    <div class="spinkit-cube-grid-cube"></div>
  </div>

